/* common.css */

.navbar {
    width: 100%;
    height: 50px;
    /* background-color: #CC88BB; */
    background-color: #000;
    text-align: center;
    padding: 10px;
    color: #fff;
}

.buffer-sm {
    height: 50px;
}

.buffer-md {
    height: 100px;
}

.buffer-lg {
    height: 200px;
}

.headimage {
    background-image: url("/img/skyline.jpg");
}

.sideimage {
    margin-left: 75%;
}