/* common.css */

.navbar {
    width: 100%;
    height: 50px;
    /* background-color: #CC88BB; */
    background-color: #000;
    text-align: center;
    padding: 10px;
    color: #fff;
}

.buffer-sm {
    height: 50px;
}

.buffer-md {
    height: 100px;
}

.buffer-lg {
    height: 200px;
}

.headimage {
    /* ref: https://stackoverflow.com/questions/1150163/stretch-and-scale-a-css-image-in-the-background-with-css-only */
    background-image: url("/img/skyline.jpg");
    background-size: cover;
    background-position-y: center;
}

.sideimage {
    margin-left: 75%;
    border-radius: 100px;
}

.blog {
    width: 60%;
    margin: auto;
    display: block;
    position: relative;
    text-align: center;
}

.bio-box {
    padding: 10px;
    margin: 10px;
}

.entry{
    margin: 10px;   
    width: 40%;
}
