body
{
    background-color: #F1E8CA;
    margin: auto;
}

.footer {
    margin-bottom: 0%;
    background-color: #000;
    color: #fff;
    width: 100%;
    padding: 10px;
    text-align: center;
}

h2 {
    margin: auto;
    width: 40%;
    padding: 15px;
    text-align: center;
}

h3 {
    margin: auto;
    width: 40%;
    padding: 13px;
    text-align: center;
}

h4 {
    margin: auto;
    width: 40%;
    padding: 12px;
    text-align: center;
}

li {
    margin: auto;
    width: 40%;
    padding: 4px;
}


blockquote {
    text-align: center;
}

img {
    border: 0;
    position: relative;
    /* Credit to Kenny Ling for the following idea to center image */
    display: block;
    margin: auto;
}