/* korea.css */

/* reference https://stackoverflow.com/questions/17158253/
   indent-starting-from-the-second-line-of-a-paragraph-with-css */
.citation {
	padding-left: 2em;
	text-indent: -2em;
}

.box {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
}

p {
	text-indent: 2em;
}

.center {
	text-align: center;
}

body {
	background-color: #EED;
}